img:not(.circle) {
    margin-top: 2rem;
    border: 5px solid black;
    -webkit-box-shadow: 10px 10px 5px #494949;
    -moz-box-shadow: 10px 10px 5px #494949;
    box-shadow: 10px 10px 5px #494949;
}

.dropdown-trigger {
    position: relative;
    left: 10px;
    top: 10px;
}

#menu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
}

#stopQuiz {
    position: fixed;
    bottom: 3rem;
    left: 1%;
}

.modal-trigger:not(#userStats) {
    position: absolute;
    left: 90%;
    bottom: 1rem;
}

p {
    color: blue;
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
.number {
    color: red;
}
.key {
    color: orange;
}